

*{box-sizing: border-box;
}

body,
html {
    /* Sets default font-size to 16px, ensuring 1em = 16px; */
    font-size: 16px;
      max-width: 800px;
    margin: 0px auto;
    display: block;
    line-height: 1.35em;
}


/*changes font for every piece of text on the page*/
body {
/*    font-family: Oswald;*/
    background-color: #e6fcf0
}

.container{
width: 100%;
margin: 0 auto;
padding: 10px;

}

div{
    display: block;
}

.main{
    width: 100%;
    max-width: 600px;
    display: block;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-family: 'Oswald', sans-serif;
    text-align: block;
    font-size: 1.60em;
    font-weight: bold;
    display: center ;
    margin-block-start: 0.7em;
    margin-block-end: 0.7em;
/*    border: 2px solid black;*/
    text-align: block;
}


h2 {
    font-family: 'Oswald', sans-serif;
    text-align: block;
    font-size: 1.15em;
    display: center; 
    font-style: italic;
    position: relative;
    top: -0.5em;
/*    border: 2px solid black;*/
/*    text-align: block;*/
    line-height:20px;

}


h3 {
    font-family: 'Oswald', sans-serif;
    display: block;
    font-size: 1em;
    font-weight: 300px;
/* border: 2px solid black;*/
/*    text-align: block;*/
    line-height:5px;
    color: #214d35; 
}

h4{
    font-family:'Oswald', sans-serif;
}

ol{
    font-family:'Arvo', serif; ;
    font-size: .90em;
}


p{
    font-family: 'Arvo', serif;
    text-align: block;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.figure{
    display: block;
    width: 100%;
    max-width: 600px;
    margin: auto;
}


figcaption {
    font-family: 'Oswald', sans-serif;;
    font-size: 0.90em;
    padding: 8px;
    text-align: center;
/*    border: 2px solid black;*/
/*    line-height: 1em;*/
    display: block;
    margin:auto;
}

/*.main_img {
    width: 100%;
    max-width: 600px;
    display: block;
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
}
*/

.background{
    border: dotted;
    background-color: lightpink;
}

@media(min-width: 681px}
    .container{
        max-width:900px;
    }


  
   

